<%
function romanize(num) {
    var lookup = {M:1000,CM:900,D:500,CD:400,C:100,XC:90,L:50,XL:40,X:10,IX:9,V:5,IV:4,I:1},roman = '',i;
    for ( i in lookup ) {
      while ( num >= lookup[i] ) {
        roman += i;
        num -= lookup[i];
      }
    }
    return roman;
  }
%>
<div>  
    <p class="text-green-600">
        <%
        if(question.length<1)
        { %>
            <div>
                <h2 class="py-4 text-green-600 mt-10">No Question Yet!!</h2>
            </div>
        <%   
        }
        else
        {%>
            <div>
                <h2 class="py-4 text-green-600 mt-10">Questions are:</h2>
            </div>
      <%  } %>
    </p>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
        
                <ul class="list-none">
                    <% for (let i=0; i<question.length; i++) { %>
                     <li>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <% console.log("length=",question.length)%>
                        
                        <div class="flex justify-between">
                            <div>
                            <h2  class="py-4 text-black-600 mt-10">
                                
                           <a href="/question/<%=question[i].id %>" class="px -4 py-4 text-black-600 mt-10 hover:text-green-800 w-full">
                            <%=romanize(i+1)%>)<%= question[i].questionName %> </h2>
                           </div>
                           <div>
                            <a href="/show/question/<%= id %>/<%= question[i].id %>/options" class="py-4 text-black-600 mt-10 hover:text-green-800"><%= question[i].question %></a>
                            <p class="text-black-00 text-md my-2"><a href="/show/question/<%=election.id%>/<%=question[i].id%>/options"><%= question[i].questionName %></p></a>
                        
                             </a>
                            </div>
                            
                        </div>
                        <a href="/election/<%=election.id%>/question/<%=question[i].id%>/modify" class="text-sm">edit question</a>
                    
                    <% console.log("length=",question.length)%>
                    <% if(question.length>=1) {%> 
                    <div class="flex px-2 py-2 rounded items-center w-fit my-3 ">    
                        <a onclick="removequestion(<%= question[i].id %>)" class="text-sm">delete question</a>
                        <%} %> 
                    </div>
                    </li>
                    <% } %>
                </ul>
        </div>
    </div>
</div>


