<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <%- include('header.ejs') %>
                <h6 class="py-4">Create an Admin Account</h6>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <h3 class="text-red-900 font-bold"> <%= messages.error[i] %></h3>
                    <% } %>
                <% } %> 
                <h3 class="text-green-600"><u><a href="/">Home</a></u></h3>
                <form action="/admin" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="py-3">
                        <label for="firstName" >First Name:</label>
                         <input type="text" name="firstName"class="border border-gray-300 test-gray-900 rounded p-2 w-full"/>
                    </div>
                    <div class="py-3">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="border border-gray-300 test-gray-900 rounded p-2 w-full" name="lastName"/>
                    </div>
                    <div class="py-3">
                        <label for="email">Email:</label>
                        <input type="email" class="border border-gray-300 test-gray-900 rounded p-2 w-full" name="email"/>
                    </div>
                    <div class="py-3">
                        <label for="password">Password:</label>
                        <input type="password" class="border border-gray-300 test-gray-900 rounded p-2 w-full" name="password"/>
                    </div>
                   <!--<div class="bg-green-600 text-white py-1.5 rounded w- h-10 px-5 m-2 text-sm flex flex-col items-center"> --> 
                    <div class="py-3"> 
                        <button type="submit" class="bg-green-600 text-white hover:bg-green-800 py-1.5 rounded font-medium px-5 py-2">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </html>